.btn-primary{
  color: $light;
}

.background{
  background-image: url("https://images.unsplash.com/photo-1532186773960-85649e5cb70b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.flex-grow{
  flex-grow: 1;
}

#app{
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.content-shadow{
  box-shadow: .5em .5em 0px #080708;
}

.content-shadow-lite{
  box-shadow: .25em .25em .25em #080708;
}

.content-shadow-lite2{
  box-shadow: .1em .1em .25em #080708;
}

.text-pop{
  color: var(--light);
  text-shadow: .1em .1em 0px var(--dark);
}

.pop {
  transition: 0.5s ease;
}
.pop:hover {
  transform: scale(1.05);
  box-shadow: .6em .6em 1em #080708;
}
.icon-pop{
  margin: 2px;
}

.icon-pop:hover{
  transform: scale(1.1);
}
.bg-faded{
  background-color: transparentize($color: #F8F6F7, $amount: .10);
}
.profile{
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  box-shadow: .2em .2em .1em #080708;
}

.land-img{
  max-height: 45vh;
  object-fit: cover;
  max-width: 30vw;
}
.land-img-3{
  object-fit: cover;
  height:45vh ;
  width: fit-content;
}

.land1{
  background-image: url(https://images.unsplash.com/photo-1589792924333-edbfbe7c8be7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-position: center;
  background-size: cover;
}

.darken-bg{
  background-color: transparentize($color: #080708, $amount: .30);
  height: 100%;
}

.profile-box{
  background-color: var(--secondary);
  border-right: var(--dark) solid .5em;
}

.fade-in { 
  animation: fadeInAnimation ease 1s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 

.spacer{
  height: 30vh;
}

//animations
.flip-card {
  background-color: transparent;
  height:45vh ;
  width: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-1{
  background-image: url(https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
  background-size: cover;
}

.card-2{
  background-image: url(https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
}

.card-3{
  background-image: url(https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80);
  background-size: cover;

}

//fonts

.handwritten{
  font-family: 'Shadows Into Light', cursive;
  }
  
  .nixie{
  font-family: 'Nixie One', cursive;
  }
  
  .yeseva{
  font-family: 'Yeseva One', cursive;
  }
  
  .fjalla{
  font-family: 'Fjalla One', sans-serif;
  }
  
  .comorant{
  font-family: 'Cormorant Garamond', serif;
  }

  .btn{
    font-family: 'Cormorant Garamond', serif;
  }
